* {
	box-sizing: border-box;
	outline: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

#root {
	//background-color: #fff;
	height: 100%;
	//border-radius: 30px;
	overflow: hidden;
}

@import "tailwind.generated.scss";
//@import "tailwind.scss";
